<fm-menu-bar [isMenuOpen]="isMenuOpen"></fm-menu-bar>
<!--The rest of the content-->
<div class="fm-content pushable">
  <!--The menu side bar-->
  <fm-menu-sidebar class="ui massive wide inverted left vertical borderless sidebar menu fm-menu fm-flex" fmSidebar
                   [sidebarContext]="'.fm-content'" [sidebarOptions]="{'exclusive': true}"
                   [sidebarTransition]="'overlay'" [triggerElementSelector]="'.item.fm-open-menu'"
                   (sidebarOpened)="onMenuOpen()" (sidebarClosed)="onMenuClosed()"></fm-menu-sidebar>

  <!--The shopping cart-->
  <fm-shopping-cart class="ui right wide sidebar fm-cart fm-flex fm-flex-column" fmSidebar
                    [sidebarContext]="'.fm-content'"
                    [sidebarOptions]="{'dimPage': false, 'exclusive': true}" [sidebarTransition]="'overlay'"
                    [triggerElementSelector]="'.item.fm-open-cart'"></fm-shopping-cart>

  <!--Page content-->
  <div class="pusher">
    <div class="fm-body-wrapper">
      <div class="fm-body">
        <router-outlet></router-outlet>
      </div>
    </div>
    <div class="fm-footer">
      <fm-footer></fm-footer>
    </div>
  </div>
</div>
