//.ui.sidebar {
//  .fm-cart, .fm-menu {
//    background: #ffffff;
//
//    &.inverted {
//      background: #1b1c1d;
//      color: rgba(255, 255, 255, 0.9);
//    }
//  }
//}

/* Content Area */
.fm-content {
  position: relative;
  margin-left: 100px;
  -webkit-transition: margin .5s ease-in-out;
  -moz-transition: margin .5s ease-in-out;
  -ms-transition: margin .5s ease-in-out;
  -o-transition: margin .5s ease-in-out;
  transition: margin .5s ease-in-out;

  & > .pusher {
    height: 100%;

    & > .fm-body-wrapper {
      overflow-y: auto;
      height: 100%;

      /* Code below is for fixing scroll performance issues. */
      -webkit-transform: translateZ(0);
      -moz-transform: translateZ(0);
      -ms-transform: translateZ(0);
      -o-transform: translateZ(0);
      transform: translateZ(0);

      & .fm-body {
        min-height: 100vh;
      }
    }
  }
}

@media screen and (max-width: 800px) {
  .fm-content {
    margin-left: 0;
    margin-top: 70px;

    & > .pusher > .fm-body-wrapper .fm-body {
      min-height: calc(100vh - 70px);
    }
  }
}
