<div class="ui middle aligned center aligned grid fm-center-box-container">
  <div class="column fm-center-box"><div class="column fm-center-box">
    <div class="ui centered header">
      CREATE ACCOUNT
    </div>
    <div class="ui left aligned grid">
      <div class="column">
        <form class="ui large left aligned form" (ngSubmit)="submitRegistration()"
              [class.error]="hasErrors()" [formGroup]="registrationForm">
          <div class="field" [class.error]="hasErrors('firstName')">
            <input placeholder="First Name" type="text" name="firstName" autofocus formControlName="firstName">
            <div class="ui basic red label" *ngIf="hasErrors('firstName')">
              {{getError('firstName')}}
            </div>
          </div>

          <div class="field" [class.error]="hasErrors('lastName')">
            <input placeholder="Last Name" type="text" name="lastName" formControlName="lastName">
            <div class="ui basic red label" *ngIf="hasErrors('lastName')">
              {{getError('lastName')}}
            </div>
          </div>

          <div class="field" [class.error]="hasErrors('email')">
            <input placeholder="Email" type="email" name="email" formControlName="email">
            <div class="ui basic red label" *ngIf="hasErrors('email')">
              {{getError('email')}}
            </div>
          </div>

          <div class="inline fields">
            <div class="field" *ngFor="let g of availableGenders">
              <div class="ui radio checkbox">
                <input [id]="'Gender_' + g.key" name="gender" formControlName="gender" [value]="g.key" type="radio">
                <label [for]="'Gender_' + g.key">
                  {{g.value}}
                </label>
              </div>
            </div>
          </div>

          <div class="grouped fields" formGroupName="passwords">
            <div class="field" [class.error]="hasErrors('password', 'passwords')">
              <input placeholder="Password" type="password" name="password" formControlName="password">
              <div class="ui basic red label" *ngIf="hasErrors('password', 'passwords')">
                {{getError('password', 'passwords')}}
              </div>
            </div>

            <div class="field" [class.error]="hasErrors('passwordConfirmation', 'passwords')">
              <input placeholder="Retype Password" type="password" name="passwordConfirmation" formControlName="passwordConfirmation">
              <div class="ui basic red label" *ngIf="hasErrors('passwordConfirmation', 'passwords')">
                {{getError('passwordConfirmation', 'passwords')}}
              </div>
              <div class="ui basic red label" *ngIf="(getField('passwordConfirmation', 'passwords').dirty && getField('passwordConfirmation', 'passwords').touched) && !hasErrors('passwordConfirmation', 'passwords') && hasErrors('passwords')">
                {{getError('passwords')}}
              </div>
            </div>
          </div>

          <button class="ui fluid large primary button" type="submit" [disabled]="registrationForm.invalid">Create</button>
        </form>
      </div>
    </div>
    <p></p>
    <a routerLink="/account/login">Already registered?</a>
  </div>
  </div>
</div>
