.fm-masthead {
  height: calc(100vh - 60px);
  margin-top: -90px;
  position: relative;
  padding: 150px 0 1em 0;
  overflow: hidden;

  & > .fm-masthead-image {
    position: absolute;
    top: 0;
    left: 0;
    height: calc(100% + 400px);
    width: 100%;
    backface-visibility: hidden;
    background: black;
    background: url('/assets/images/masthead-1080p.jpg');
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    -webkit-background-size: cover;
    background-size: cover;
  }

  & > .fm-masthead-image-shader {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: black;
    background: -webkit-linear-gradient(top,rgba(0,0,0,0) 0,rgba(0,0,0,.8) 80%,rgba(0,0,0,.8) 100%);
    background: linear-gradient(to bottom,rgba(0,0,0,0) 0,rgba(0,0,0,.8) 80%,rgba(0,0,0,.8) 100%);
    opacity: .7;
  }

  & > .fm-masthead-content {
    height: 100%;
    z-index: 1;
    text-align: center;
    position: relative;
    align-items: flex-start;
    justify-content: center;
  }

  & > .fm-masthead-scroll-indicator {
    color: white;
    align-self: center;
    z-index: 1;

    & > .fm-masthead-scroll-icon {
      width: 50px;
      height: 50px;
      margin: 5px auto;
      /*border: 1px solid white;*/
      border-radius: 25px;
      display: flex;
      align-items: center;
      justify-content: center;
      left: calc(50% - 25px);

      &.fm-animated {
        -webkit-animation: 1.3s bounce ease-in-out;
        -o-animation: 1.3s bounce ease-in-out;
        animation: 1.3s bounce ease-in-out;

        animation-iteration-count: infinite;
      }
    }

    .icon {
      margin: 0;
    }
  }
}

@keyframes bounce {
  0% {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
  }

  50% {
    -webkit-transform: translateY(-20px);
    -moz-transform: translateY(-20px);
    -ms-transform: translateY(-20px);
    -o-transform: translateY(-20px);
    transform: translateY(-20px);
  }

  100% {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
  }
}
