<div fmScrollAnimation>
  <div class="fm-masthead fm-flex fm-flex-column">
    <div class="fm-masthead-image"></div>
    <div class="fm-masthead-image-shader"></div>
    <div class="fm-masthead-content fm-flex-pad">
      <div class="ui huge inverted header">finer man</div>
    </div>
    <div class="fm-masthead-scroll-indicator">
      <div id="fm-masthead-scroll-icon" class="fm-animated fm-masthead-scroll-icon">
        <i class="large angle down icon"></i>
      </div>
      <div>Scroll down for more</div>
    </div>
  </div>

  <div class="ui basic segment">
    <div class="ui large header">latest products</div>
    <div class="ui cards">
      <fm-product-card class="card" [product]="product" *ngFor="let product of latestProducts">
      </fm-product-card>
    </div>
  </div>
</div>
