<!DOCTYPE html>
<html layout:decorate="~{layout}" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{application.authorize.title}">Authorize Application</title>
</head>
<body>
<div class="ui middle aligned center aligned grid fm-center-box-container">
    <img class="ui small image fm-logo" th:src="@{~/images/finer-man-logo.svg}"/>
    <div class="column fm-center-box" layout:fragment="content">
        <div class="ui centered header" th:text="#{application.authorize.title}">
            Authorize Application
        </div>

        <p>
            Do you authorize "<strong th:text="${authorizationRequest.clientId}"></strong>" at
            "<strong th:text="${authorizationRequest.redirectUri}"></strong>" to access your
            protected resources with scope <span th:text="${#strings.setJoin(authorizationRequest.scope, ', ')}"></span>.
        </p>
        <div class="ui left aligned grid">
            <div class="sixteen wide column">
                <form class="ui form" id="confirmationForm" name="confirmationForm"
                      action="/oauth/authorize" method="post" style="display: inline;">
                    <input th:name="${_csrf.parameterName}" th:value="${_csrf.token}" type="hidden">
                    <input name="user_oauth_approval" value="true" type="hidden" />

                    <div class="inline fields" th:each="scope: ${authorizationRequest.scope}">
                        <label th:for="${scope}" th:text="#{${'application.authorize.form.scopes.' + scope}}">Scope</label>
                        <div class="field">
                            <div class="ui radio checkbox">
                                <input type="radio" th:name="${'scope.' + scope}" value="true" checked>
                                <label th:text="#{application.authorize.form.approve}">Allow</label>
                            </div>
                        </div>

                        <div class="field">
                            <div class="ui radio checkbox">
                                <input type="radio" th:name="${'scope.' + scope}" value="false">
                                <label th:text="#{application.authorize.form.deny}">Deny</label>
                            </div>
                        </div>
                    </div>

                    <button class="ui primary button" type="submit" th:text="#{application.authorize.form.approve}">Approve</button>
                </form>
                <form class="ui" id="denyForm" name="confirmationForm" style="display: inline;"
                      action="/oauth/authorize" method="post">
                    <input name="user_oauth_approval" value="false" type="hidden"/>
                    <button class="ui button" type="submit" th:text="#{application.authorize.form.deny}">Deny</button>
                </form>
            </div>
        </div>
        <!--<div class="ui basic segment" style="display: flex; justify-content: center">-->
            <!--<form class="ui" id="confirmationForm" name="confirmationForm"-->
                  <!--action="/oauth/authorize" method="post">-->
                <!--<input th:name="${_csrf.parameterName}" th:value="${_csrf.token}" type="hidden">-->
                <!--<input name="user_oauth_approval" value="true" type="hidden" />-->
                <!--<input class="ui primary button" type="submit" th:value="#{application.authorize.form.approve}">Approve</input>-->
            <!--</form>-->
            <!--<form class="ui" id="denyForm" name="confirmationForm" style="display: inline-block;"-->
                  <!--action="/oauth/authorize" method="post">-->
                <!--<input name="user_oauth_approval" value="false" type="hidden" />-->
                <!--<button class="ui button" type="submit" th:text="#{application.authorize.form.deny}">Deny</button>-->
            <!--</form>-->
        <!--</div>-->
    </div>
</div>
</body>
</html>