<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

    <!-- Site Properties -->
    <title layout:title-pattern="$LAYOUT_TITLE - $CONTENT_TITLE">Finer Man</title>
    <link rel="icon" type="image/x-icon" th:href="@{~/favicon.ico}">

    <link rel="stylesheet" type="text/css"
          th:href="@{~/semantic/dist/semantic.min.css}">
    <link rel="stylesheet" type="text/css"
          th:href="@{~/css/app.css}">
</head>
<body>
<div class="ui middle aligned center aligned grid fm-center-box-container">
    <img class="ui small image fm-logo" th:src="@{~/images/finer-man-logo.svg}"/>
    <div class="column fm-center-box" layout:fragment="content">
        <div class="ui centered header" th:text="#{application.login.title}">
            LOGIN
        </div>
        <form class="ui large form" th:action="${loginUrl}" method="post">
            <div class="field">
                <input type="email" name="username" placeholder="Email" th:placeholder="#{application.login.form.fields.email}">
            </div>
            <div class="field">
                <input type="password" name="password" placeholder="Password" th:placeholder="#{application.login.form.fields.password}">
            </div>
            <button class="ui fluid large pink submit button" type="submit" th:text="#{application.login.form.submit}">Login</button>
        </form>
        <p></p>
        <a th:href="@{~/account/register}" th:text="#{application.login.button.create_account}">Create account</a>
    </div>
</div>
</body>
</html>