<!DOCTYPE html>
<html layout:decorate="~{layout}" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{application.login.title}">Login</title>
</head>
<body>
<div class="ui middle aligned center aligned grid fm-center-box-container">
    <img class="ui small image fm-logo" th:src="@{~/images/finer-man-logo.svg}"/>
    <div class="column fm-center-box" layout:fragment="content">
        <div class="ui centered header" th:text="#{application.login.title}">
            LOGIN
        </div>
        <div class="ui basic segment">
            <div class="ui red top attached label" th:if="${param.authentication_error}" th:text="#{application.login.failed}">
                Login failed.
            </div>

            <div style="margin: 0 -1rem">
                <form class="ui large form" th:action="@{/login}" method="post">
                    <div class="field">
                        <input type="text" name="username" placeholder="Email" th:placeholder="#{application.login.form.fields.email}">
                    </div>
                    <div class="field">
                        <input type="password" name="password" placeholder="Password" th:placeholder="#{application.login.form.fields.password}">
                    </div>
                    <button class="ui fluid large pink submit button" type="submit" th:text="#{application.login.form.submit}">Login</button>
                </form>
                <p></p>
                <a href="/account/register" th:text="#{application.login.button.create_account}">Create account</a>
            </div>
        </div>
    </div>
</div>
</body>
</html>