/**
 * Nav Menu Bar.
 */
/* Menu Bar */
.ui.left.menu.fm-main-menu-header {
  border-right: 1px solid transparent;
  height: 100%;
  width: 100px;
  margin: 0;
  overflow: visible;
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -ms-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;

  &.inverted {
    border-right-color: #555;
  }

  /* Menu Items */
  & > .item {
    width: 100px;
    height: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    margin: auto;
    z-index: 1;
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -ms-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    -webkit-transition-property: all;
    -moz-transition-property: all;
    -ms-transition-property: all;
    -o-transition-property: all;
    transition-property: all;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);

    & > .icon {
      align-self: center;
    }
  }

  & > .fm-site-header {
    -webkit-transform: translate3d(0, 5px, 0);
    -moz-transform: translate3d(0, 5px, 0);
    -ms-transform: translate3d(0, 5px, 0);
    -o-transform: translate3d(0, 5px, 0);
    transform: translate3d(0, 5px, 0);

    & > .ui.image {
      width: 60px;
      -webkit-transition: .5s ease-in-out;
      -moz-transition: .5s ease-in-out;
      -ms-transition: .5s ease-in-out;
      -o-transition: .5s ease-in-out;
      transition: .5s ease-in-out;
    }
  }

  & > .fm-open-menu {
    -webkit-transform: translate3d(0, calc(50vh - 35px), 0);
    -moz-transform: translate3d(0, calc(50vh - 35px), 0);
    -ms-transform: translate3d(0, calc(50vh - 35px), 0);
    -o-transform: translate3d(0, calc(50vh - 35px), 0);
    transform: translate3d(0, calc(50vh - 35px), 0);
  }

  & > .fm-account {
    -webkit-transform: translate3d(0, calc(100vh - 140px), 0);
    -moz-transform: translate3d(0, calc(100vh - 140px), 0);
    -ms-transform: translate3d(0, calc(100vh - 140px), 0);
    -o-transform: translate3d(0, calc(100vh - 140px), 0);
    transform: translate3d(0, calc(100vh - 140px), 0);
  }

  & > .fm-open-cart {
    -webkit-transform: translate3d(0, calc(100vh - 73px), 0);
    -moz-transform: translate3d(0, calc(100vh - 73px), 0);
    -ms-transform: translate3d(0, calc(100vh - 73px), 0);
    -o-transform: translate3d(0, calc(100vh - 73px), 0);
    transform: translate3d(0, calc(100vh - 73px), 0);
  }

  .fm-social-icons {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
}

@media screen and (max-width: 800px) {
  .ui.left.menu.fm-main-menu-header {
    width: 100%;
    height: 70px;

    .item {
      width: 60px;

      & > .icon {
        align-self: center;
      }
    }

    & > .fm-site-header {
      -webkit-transform: translate3d(calc(50vw - 57px), 0, 0);
      -moz-transform: translate3d(calc(50vw - 57px), 0, 0);
      -ms-transform: translate3d(calc(50vw - 57px), 0, 0);
      -o-transform: translate3d(calc(50vw - 57px), 0, 0);
      transform: translate3d(calc(50vw - 57px), 0, 0);

      & > .ui.image {
        width: 50px;
      }
    }

    & > .fm-open-menu {
      z-index: 1;
      -webkit-transform: translate3d(0, 0, 0);
      -moz-transform: translate3d(0, 0, 0);
      -ms-transform: translate3d(0, 0, 0);
      -o-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }

    & > .fm-account {
      opacity: 0;
      z-index: 0;
      -webkit-transform: translate3d(0, 0, 0);
      -moz-transform: translate3d(0, 0, 0);
      -ms-transform: translate3d(0, 0, 0);
      -o-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }

    & > .fm-open-cart {
      -webkit-transform: translate3d(calc(100vw - 100px), 0, 0);
      -moz-transform: translate3d(calc(100vw - 100px), 0, 0);
      -ms-transform: translate3d(calc(100vw - 100px), 0, 0);
      -o-transform: translate3d(calc(100vw - 100px), 0, 0);
      transform: translate3d(calc(100vw - 100px), 0, 0);
    }
  }
}
