<div class="ui basic segment">
  <h3 class="ui header">Past Orders</h3>
  <table class="ui celled table" *ngIf="orders?.length > 0">
    <thead>
    <tr>
      <th>Date</th>
      <th>Delivery Address</th>
      <th>Phone Number</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let order of orders">
      <td>{{order.createdOn | date: 'short'}}</td>
      <td>{{order.deliveryAddress}}</td>
      <td>{{order.phoneNumber}}</td>
    </tr>
    </tbody>
    <!--<tfoot>-->
    <!--<tr>-->
      <!--<th colspan="3">-->
        <!--<div class="ui right floated pagination menu">-->
          <!--<a class="icon item">-->
            <!--<i class="left chevron icon"></i>-->
          <!--</a>-->
          <!--<a class="item">1</a>-->
          <!--<a class="item">2</a>-->
          <!--<a class="item">3</a>-->
          <!--<a class="item">4</a>-->
          <!--<a class="icon item">-->
            <!--<i class="right chevron icon"></i>-->
          <!--</a>-->
        <!--</div>-->
      <!--</th>-->
    <!--</tr>-->
    <!--</tfoot>-->
  </table>
  <div class="fm-text-center" *ngIf="!orders || orders.length <= 0">
    <p>You haven't made any orders yet.</p>
    <a routerLink="/products" style="cursor: pointer;">Get started</a>
  </div>
</div>
