<div class="image">
  <img class="ui image fm-product-image"
       [src]="product.defaultImage" [alt]="product.name">
</div>
<div class="fm-product-content content">
  <div class="header">{{product.name}}</div>
  <div class="meta">
    <span [class.fm-price-was]="product.hasSpecial">{{product.price | currency:product.currency:'1.2-2'}}</span>
    <span *ngIf="product.hasSpecial">{{product.priceSpecialAmount | currency:product.currency:'1.2-2'}}</span>
  </div>
</div>
<button class="ui bottom attached button fm-buy-button" (click)="addToCart(product)">
  <i class="shop icon"></i>
</button>
