<div class="ui basic segment">
  <h3 class="ui center aligned header">Checkout</h3>
  <div class="ui twelve column centered grid" *ngIf="!orderId">
    <div class="six wide column" *ngIf="cartItems?.length > 0">
      <div class="ui relaxed divided list">
        <div class="item fm-checkout-item" *ngFor="let item of cartItems">
          <img class="ui avatar image" [src]="item?.product?.defaultImage" [alt]="item?.product?.name">
          <div class="content">
            <div class="header">{{item?.product?.name}}</div>
            {{item.quantity}} x {{(item.product.hasSpecial ? item.product.priceSpecialAmount : item.product.price)}}
          </div>
          <div class="right floated content">
            {{item.total | currency:item?.product?.currency:'1.2-2'}}

            <button type="button" class="ui basic tiny icon button" style="box-shadow: none" (click)="removeItem(item.product)">
              <i class="close icon"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="five wide column">
      <div class="ui one column centered grid">
        <div class="column">
          <form class="ui form" (ngSubmit)="placeOrder()" *ngIf="cartItemsCount > 0">
            <div class="field">
              <label for="deliveryAddress">Delivery Address</label>
              <input id="deliveryAddress" name="deliveryAddress" type="text" [(ngModel)]="checkoutModel.deliveryAddress">
            </div>
            <div class="field">
              <label for="phoneNumber">Phone Number</label>
              <input id="phoneNumber" name="deliveryAddress" type="tel" [(ngModel)]="checkoutModel.phoneNumber">
            </div>
            <button class="ui fluid button" type="submit">Place Order</button>
          </form>
        </div>
      </div>
      <div class="fm-text-center" *ngIf="cartItemsCount < 1">
        <p>You have no items in your cart.</p>
        <a routerLink="/products" style="cursor: pointer;">Browse products</a>
      </div>
    </div>
  </div>
  <div class="ui twelve column centered grid" *ngIf="orderId">
    <div class="five wide column fm-text-center">
      <p>Your order has been created successfully. You should receive your items shortly.</p>
      <a routerLink="/products" style="cursor: pointer;">Continue shopping</a>
    </div>
  </div>
</div>
