<div class="ui basic segment">
  <div class="ui header">
    Products
  </div>
  <div class="ui cards">
    <fm-product-card class="card" [product]="product" *ngFor="let product of products"></fm-product-card>
  </div>
</div>
