<div class="ui basic segment">
  <div class="ui huge centered header fm-uppercase">Your Bag</div>
</div>
<div class="ui basic segment fm-flex-pad">
  <div class="ui middle aligned center aligned grid fm-full-height" *ngIf="(cartItems | async)?.length <= 0">
    <div class="column">
      <p>Your bag is currently empty</p>
      <div>
        <i class="massive shopping basket icon"></i>
      </div>
    </div>
  </div>

  <div class="ui items" *ngIf="(cartItems | async)?.length > 0">
    <div class="item fm-cart-item" *ngFor="let item of cartItems | async">
      <div class="ui tiny image">
        <img [src]="item.product.defaultImage" [alt]="item.product.name">
      </div>
      <div class="middle aligned content">
        <div class="header">{{item.product.name}}</div>
        <div class="meta">
          Quantity: {{item.quantity}}
        </div>
        <div class="description">{{item.total | currency:item.product.currency:'1.2-2'}}</div>
      </div>

      <div class="fm-cart-item-remove">
        <button type="button" class="ui basic small icon button" (click)="removeItem(item.product)">
          <i class="close icon"></i>
        </button>
      </div>
    </div>
  </div>
</div>
<div class="ui basic segment">
  <div class="fm-flex">
    <div class="ui fm-flex-pad fm-uppercase">Total</div>
    <div>{{(cartCurrency | async) ? (cartTotal | async | currency:(cartCurrency | async):'1.2-2') : (cartTotal | async | number:'1.2-2')}}</div>
  </div>
  <p></p>

  <button class="ui green fluid button fm-hide-cart" (click)="checkout()">Checkout</button>
</div>
