.fm-cart-item {
  position: relative;
  padding-right: 40px;

  .fm-cart-item-remove {
    position: absolute;
    height: 34px;
    top: calc(50% - 17px);
    right: 0;

    .ui.basic.button {
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none;
    }
  }
}
