<!--The menu side bar content-->
<div class="ui header item fm-sidebar-header">
  Finer Man
</div>
<div class="fm-sidebar-menu fm-flex fm-flex-column fm-flex-stretch-items fm-flex-center-justify fm-full-height">
  <a class="item fm-hide-menu" routerLink="/products" routerLinkActive="active">Products</a>
  <a class="item fm-hide-menu" routerLink="/orders" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Orders</a>
</div>
<div class="fm-flex-pad"></div>
<div class="ui basic segment fm-social-icons">
  <a class="ui big basic inverted icon button fm-social-icon" href="https://www.facebook.com/finerman254">
    <i class="big facebook icon"></i>
  </a>
  <a class="ui big basic inverted icon button fm-social-icon" href="https://www.instagram.com/finer_man">
    <i class="big instagram icon"></i>
  </a>
</div>
