.ui.header.fm-sidebar-header {
  height: 100px;
  padding-bottom: 1.5em;
  padding-top: 1.5em;
  text-transform: uppercase;
}

.ui.header.item.fm-sidebar-header{
  margin-left: 18px;
}

.fm-sidebar-menu {
  margin-left: 25px;

  & .item {
    text-transform: uppercase;
  }
}

.fm-sidebar-menu a.item:hover {
  background: none;
}

.fm-social-icons {
  margin-left: 12px;

  .fm-social-icon {
    border: 1px solid transparent;
    box-shadow: none !important;
    color: white;

    &:hover {
      background: none;
      //border-color: #f2711c;
      border-radius: 2px;
      box-shadow: none !important;
      color: #f2711c !important;
    }
  }
}
