<div class="ui middle aligned center aligned grid fm-center-box-container">
  <div class="column fm-center-box">
    <div *ngIf="loggingIn">
      <p>Please wait while we log you in...</p>
    </div>
    <div *ngIf="!loggingIn">
      <div class="ui centered header">
        HELLO THERE
      </div>
      <div *ngIf="!loggedIn">
        <p>
          <span *ngIf="error">We are having trouble accessing a protected resource. You may need to log in to continue.</span>
          <span *ngIf="authorizationUri">Please click on the button below to attempt the login process.</span>
        </p>
        <a class="ui primary button" [ngClass]="{'loading disabled': !authorizationUri}" href="#" [href]="authorizationUri">START LOG IN</a>
      </div>
      <div *ngIf="loggedIn">
        <p>It appears you are already logged in. You can switch your account by first logging out of this account.</p>
        <button class="ui red button" type="button" (click)="logout()">LOG OUT</button>
      </div>
      <p></p>
      <div class="ui red basic label" *ngIf="message">{{message}}</div>
    </div>
  </div>
</div>
