/* Login & Register */
.fm-center-box-container {
    background: #f3f3f5;
    margin: 0!important;
    height: 100%;
    width: 100%;
    position: relative;
}

.fm-center-box-container > .fm-center-box {
    width: 400px !important;
}

.fm-center-box-container > .fm-logo {
    position: absolute;
    top: 2em;
}
