<div class="ui middle aligned center aligned grid fm-footer-wrapper">
  <div class="column">
    <div class="ui grid">
      <div class="sixteen wide column">
        <div class="ui fluid secondary inverted vertical menu">
          <a href="#" class="item">FAQ</a>
          <a href="#" class="item">Contact Us</a>
        </div>
      </div>
      <div class="sixteen wide column">
        <p>Copyright Finer Man {{copyYear}}</p>
      </div>
    </div>
  </div>
</div>
