/* You can add global styles to this file, and also import other style files */

/**
 * Menu icon styles.
 */
.fm-icon {
  border-radius: 12px;
  border: 1px solid transparent;
  height: 24px;
  width: 24px;
  position: relative;
  margin: 0 auto;
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;

  span {
    display: block;
    position: absolute;
    height: 2px;
    width: 100%;
    background: #1b1c1d;
    border-radius: 1px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg) translate3d(0, 0, 0) scale3d(1, 1, 1);
    -moz-transform: rotate(0deg) translate3d(0, 0, 0) scale3d(1, 1, 1);
    -ms-transform: rotate(0deg) translate3d(0, 0, 0) scale3d(1, 1, 1);
    -o-transform: rotate(0deg) translate3d(0, 0, 0) scale3d(1, 1, 1);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;

    .inverted & {
      background: #ffffff;
    }
  }
}

/* Icon V1 */
.fm-hamburger-icon1 {
  span:nth-child(1), span:nth-child(2) {
    top: 3px;
  }

  span:nth-child(3), span:nth-child(4) {
    top: 10px;
  }

  span:nth-child(5), span:nth-child(6) {
    top: 17px;
  }

  &.open {
    span:nth-child(1), span:nth-child(2) {
      -webkit-transform: rotate(135deg) translate3d(4.7px, -5.4px, 0);
      -moz-transform: rotate(135deg) translate3d(4.7px, -5.4px, 0);
      -ms-transform: rotate(135deg) translate3d(4.7px, -5.4px, 0);
      -o-transform: rotate(135deg) translate3d(4.7px, -5.4px, 0);
      transform: rotate(135deg) translate3d(4.7px, -5.4px, 0);
    }

    span:nth-child(3), span:nth-child(4) {
      opacity: 0;
      -webkit-transform: translateX(-24px);
      -moz-transform: translateX(-24px);
      -ms-transform: translateX(-24px);
      -o-transform: translateX(-24px);
      transform: translateX(-24px);
    }

    span:nth-child(5), span:nth-child(6) {
      -webkit-transform: rotate(-135deg) translate3d(4.9px, 5px, 0);
      -moz-transform: rotate(-135deg) translate3d(4.9px, 5px, 0);
      -ms-transform: rotate(-135deg) translate3d(4.9px, 5px, 0);
      -o-transform: rotate(-135deg) translate3d(4.9px, 5px, 0);
      transform: rotate(-135deg) translate3d(4.9px, 5px, 0);
    }
  }
}

/* Icon V2 */
.fm-hamburger-icon2 {
  span {
    width: 50%;
  }

  span:nth-child(even) {
    left: 50%;
    border-radius: 0 1px 1px 0;
  }

  span:nth-child(odd) {
    left: 0;
    border-radius: 1px 0 0 1px;
  }

  span:nth-child(1), span:nth-child(2) {
    top: 3px;
  }

  span:nth-child(3), span:nth-child(4) {
    top: 10px;
  }

  span:nth-child(5), span:nth-child(6) {
    top: 17px;
  }

  &.open {
    span:nth-child(1), span:nth-child(6) {
      -webkit-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      transform: rotate(45deg);
    }

    span:nth-child(2), span:nth-child(5) {
      -webkit-transform: rotate(-45deg);
      -moz-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      -o-transform: rotate(-45deg);
      transform: rotate(-45deg);
    }

    span:nth-child(1) {
      -webkit-transform: rotate(45deg) translate3d(3.5px, 1px, 0);
      -moz-transform: rotate(45deg) translate3d(3.5px, 1px, 0);
      -ms-transform: rotate(45deg) translate3d(3.5px, 1px, 0);
      -o-transform: rotate(45deg) translate3d(3.5px, 1px, 0);
      transform: rotate(45deg) translate3d(3.5px, 1px, 0);
    }

    span:nth-child(2) {
      -webkit-transform: rotate(-45deg) translate3d(-3.5px, 1px, 0);
      -moz-transform: rotate(-45deg) translate3d(-3.5px, 1px, 0);
      -ms-transform: rotate(-45deg) translate3d(-3.5px, 1px, 0);
      -o-transform: rotate(-45deg) translate3d(-3.5px, 1px, 0);
      transform: rotate(-45deg) translate3d(-3.5px, 1px, 0);
    }

    span:nth-child(3) {
      -webkit-transform: translateX(-100%);
      -moz-transform: translateX(-100%);
      -ms-transform: translateX(-100%);
      -o-transform: translateX(-100%);
      transform: translateX(-100%);
      opacity: 0;
    }

    span:nth-child(4) {
      -webkit-transform: translateX(100%);
      -moz-transform: translateX(100%);
      -ms-transform: translateX(100%);
      -o-transform: translateX(100%);
      transform: translateX(100%);
      opacity: 0;
    }

    span:nth-child(5) {
      -webkit-transform: rotate(-45deg) translate3d(3.3px, -1.1px, 0);
      -moz-transform: rotate(-45deg) translate3d(3.3px, -1.1px, 0);
      -ms-transform: rotate(-45deg) translate3d(3.3px, -1.1px, 0);
      -o-transform: rotate(-45deg) translate3d(3.3px, -1.1px, 0);
      transform: rotate(-45deg) translate3d(3.3px, -1.1px, 0);
    }

    span:nth-child(6) {
      -webkit-transform: rotate(45deg) translate3d(-3.3px, -1.1px, 0);
      -moz-transform: rotate(45deg) translate3d(-3.3px, -1.1px, 0);
      -ms-transform: rotate(45deg) translate3d(-3.3px, -1.1px, 0);
      -o-transform: rotate(45deg) translate3d(-3.3px, -1.1px, 0);
      transform: rotate(45deg) translate3d(-3.3px, -1.1px, 0);
    }
  }
}

/* Icon 3 */
.fm-hamburger-icon3 {
  span:nth-child(1) {
    top: 3px;
    -webkit-transform: translateY(0) scaleX(1.0);
    -moz-transform: translateY(0) scaleX(1.0);
    -ms-transform: translateY(0) scaleX(1.0);
    -o-transform: translateY(0) scaleX(1.0);
    transform: translateY(0) scaleX(1.0);
  }

  span:nth-child(2),
  span:nth-child(3),
  span:nth-child(4),
  span:nth-child(5) {
    top: 10px;
  }

  span:nth-child(6) {
    top: 17px;
    -webkit-transform: translateY(0) scaleX(1.0);
    -moz-transform: translateY(0) scaleX(1.0);
    -ms-transform: translateY(0) scaleX(1.0);
    -o-transform: translateY(0) scaleX(1.0);
    transform: translateY(0) scaleX(1.0);
  }

  &.open {
    span:nth-child(1) {
      -webkit-transform: translateY(7px) scaleX(0.0);
      -moz-transform: translateY(7px) scaleX(0.0);
      -ms-transform: translateY(7px) scaleX(0.0);
      -o-transform: translateY(7px) scaleX(0.0);
      transform: translateY(7px) scaleX(0.0);
    }

    span:nth-child(2), span:nth-child(3) {
      -webkit-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      transform: rotate(45deg);
    }

    span:nth-child(4), span:nth-child(5) {
      -webkit-transform: rotate(-45deg);
      -moz-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      -o-transform: rotate(-45deg);
      transform: rotate(-45deg);
    }

    span:nth-child(6) {
      -webkit-transform: translateY(-7px) scaleX(0.0);
      -moz-transform: translateY(-7px) scaleX(0.0);
      -ms-transform: translateY(-7px) scaleX(0.0);
      -o-transform: translateY(-7px) scaleX(0.0);
      transform: translateY(-7px) scaleX(0.0);
    }
  }
}

/* Icon V4 */
.fm-hamburger-icon4 {
  span {
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
  }

  span:nth-child(1), span:nth-child(2) {
    top: 3px;
  }

  span:nth-child(3), span:nth-child(4) {
    top: 10px;
    -webkit-transform: scaleX(1.0);
    -moz-transform: scaleX(1.0);
    -ms-transform: scaleX(1.0);
    -o-transform: scaleX(1.0);
    transform: scaleX(1.0);
  }

  span:nth-child(5), span:nth-child(6) {
    top: 17px;
  }

  &.open {
    span:nth-child(1), span:nth-child(2) {
      -webkit-transform: rotate(45deg) translate3d(1.8px, -2.7px, 0);
      -moz-transform: rotate(45deg) translate3d(1.8px, -2.7px, 0);
      -ms-transform: rotate(45deg) translate3d(1.8px, -2.7px, 0);
      -o-transform: rotate(45deg) translate3d(1.8px, -2.7px, 0);
      transform: rotate(45deg) translate3d(1.8px, -2.7px, 0);
    }

    span:nth-child(3), span:nth-child(4) {
      opacity: 0;
      -webkit-transform: scaleX(0.0);
      -moz-transform: scaleX(0.0);
      -ms-transform: scaleX(0.0);
      -o-transform: scaleX(0.0);
      transform: scaleX(0.0);
    }

    span:nth-child(5), span:nth-child(6) {
      -webkit-transform: rotate(-45deg) translate3d(1.6px, 2.9px, 0);
      -moz-transform: rotate(-45deg) translate3d(1.6px, 2.9px, 0);
      -ms-transform: rotate(-45deg) translate3d(1.6px, 2.9px, 0);
      -o-transform: rotate(-45deg) translate3d(1.6px, 2.9px, 0);
      transform: rotate(-45deg) translate3d(1.6px, 2.9px, 0);
    }
  }
}



/**
 * App styles
 */
.ui.sidebar {
  &.fm-cart, &.fm-menu {
    background: #ffffff;
  }

  &.inverted.fm-cart, &.inverted.fm-menu {
    background: #1B1C1D;
  }

  &.inverted.fm-cart, &.inverted.fm-menu {
    color: rgba(255, 255, 255, .9);
  }
}

.ui.card .content {
  white-space: normal;
}


/* Login & Register */
.pusher .fm-body-wrapper .fm-center-box-container {
  background: #f3f3f5;
  margin: 0 0 -70px;
  min-height: 100vh;
  min-width: 100%;
}

.fm-center-box-container > .fm-center-box {
  max-width: 400px;
}

@media screen and (max-width: 800px) {
  .pusher .fm-body-wrapper .fm-center-box-container {
    min-height: calc(100vh - 70px);
  }

  html, body {
    height: calc(100vh - 70px)!important;
  }
}


/**
 * Misc styles
 */
.fm-uppercase {
  text-transform: uppercase !important;
}
.fm-text-center {
  text-align: center !important;
}

.fm-flex {
  display: flex !important;

  &.fm-flex-column {
    flex-direction: column;
  }

  &.fm-flex-row {
    flex-direction: row;
  }

  &.fm-flex-center-items {
    align-items: center;
  }

  &.fm-flex-stretch-items {
    align-items: stretch;
  }

  &.fm-flex-center-justify {
    justify-content: center;
  }
}

.fm-flex-pad {
  flex: 1;
}

.fm-open-menu:hover {
  background: 0 0 !important;
}

.fm-full-height {
  height: 100%;
}

.fm-full-width {
  width: 100%;
}

.fm-price-was {
  color: #777;
  font-size: .85em;
  text-decoration: line-through;
}

.fm-body-wrapper {
  display: block;

  & > .fm-body {
    background: #fff;
    margin-bottom: 400px;
    padding-bottom: 50px;
    z-index: 1;
  }
}

.fm-footer {
  padding: 80px 0;
  position: fixed;
  width: 100%;
  bottom: 0;
  height: 400px;
  background: #1B1C1D;
  z-index: -1;

  * {
    text-transform: uppercase!important;
    color: white;
  }
}
